# Environment variables (Məxfilik və API açarları)
.env
.env.local

# Virtual Environment (Python Virtual Mühiti)
venv/
env/
ENV/
.venv/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE və Redaktor faylları
.vscode/
.idea/
*.swp
*.swo

# OS tərəfindən yaradılan fayllar
.DS_Store
Thumbs.db
